
<!--this partial is a work in progress-->
<li>
    {{burger_name}}
    {{#if devoured}}Devoured{{else}}Ready to eat{{/if}}
    <button data-id="{{this.id}}" class="eatButton" >eat da burger</button>
</li>